@media (min-width: 1023px) {
    .emoji{display: none;} 
    body{background: #FEF9EF;}
    #home,#about,#skill,#project {margin: 5% auto;}
    #menu{padding: 3%;}
    #resume-link, #certificate-link, #github-link {margin:  1% 0; font-size: 1.2rem;}
    #send-bnt {padding:  1%;}
}
