* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {	
	background-color: #f8f8f8;
}

i{ color: var(--orag-color); }

:root {
	--dark-color: #313131;
	--ligh-color: #f4f4f4;
	--blue-color: #39ace7;
	--orag-color: #EF5B0C;
}

#project-fake-screen{
	-ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow: auto;
}
#project-fake-screen::-webkit-scrollbar {display: none;}