/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap'); */


:root {
	--dark-color: #2d383c; 
	--ligh-color: #f4f4f4;
	--dark-color: #2d383c;
	--ligh-color: #f4f4f4;
	--blue-color: #39ace7;
	--orag-color: #EF5B0C;	
}

html body {font-size: 17px;}

i{
	color: var(--orag-color);
	font-style: normal;
}
#head-menu {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	padding: 1% 0;
	margin-top: 2%;
}

.menu-box {
	display: block;
	width: 50%;
	margin: auto auto;
}
.menu-icon {
	display: block;
	margin: auto auto;
	width: 25%;
	filter: contrast(1%);
}
.menu-text {
	display: block;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font: 200 .9rem/1.4 'Poppins', Sans-serif;
	padding-top: 3%;
	color: var(--dark-color);
}

.menu-box:hover .menu-icon, .menu-box:hover .menu-text {
	color: var(--orag-color);
	filter: contrast(100%);
	font-weight: 300;
}

#home-page {
	width: 98%;
	margin: 4% auto;
	 /* background: orange;  */
	background-image: url("../res/ic_01.png");
	background-size: 25%;
	background-position: 95% 35%;
	background-repeat: no-repeat;
	padding: 2% 0 2% 8%;
}

#home-page h1 {
	font: 200 2.6rem/1.4 'Poppins', Sans-serif;
	color: var(--dark-color);
}

#home-page h6 {
	font: 200 .9rem/1.4 'Poppins', Sans-serif;
	color: var(--dark-color);
	margin: 3% 0 5% 0;
	text-align: left;
	text-indent: 32px;
	width: 60%;
}

#about-me-bnt {
	display: block;
	width: 17%;
	padding: .5% 1%;
	border-radius: 5px;
	background-color: var(--orag-color);
	text-align: center;
	color: var(--ligh-color);
	font: 200 .9rem/1.4 'Poppins', Sans-serif;
}

#home-social-links {
	width: 20%;
	/* background: green; */
	display: grid;
	grid-template-columns: repeat(4,1fr);
	margin-top: 4%;
}
.social-links-icons {
	width: 60%;
}

/* skill page  */
#skill-page {
	display: grid;
	grid-template-columns: 50% 50%;
	width: 98%;
	/* background: red;  */
	margin: auto auto;
	padding: 3% 0;
}

.skill-box {
	width: 100%;
	/* background: purple; */
}

.skill-box h2 {
	display: block;
	margin: 0 0 5% 8%;
	width: 100%;
	font: 200 2.1rem/1.4 'Poppins', Sans-serif;
	color: var(--dark-color);
	text-decoration: underline;
}

.skill-description {
	font: 200 .9rem/1.4 'Poppins', Sans-serif;
	display: block;
	width: 70%;
	margin: 1% 0 1% 8%;
	text-align: left;
	color: var(--dark-color);
}

.skill-title {
	display: block;
	font: 200 1.2rem/1.4 'Poppins', Sans-serif;
	color: var(--dark-color);
}

.skill-range {
	width: 90%;
	display: grid;
	grid-template-columns: 15% 85%;
	margin: 2% 0;
}
.skill-name {
	display: block;
	width: 100%;
	font: 200 .9rem/1.4 'Poppins', Sans-serif;
	color: var(--dark-color);
}

.skill-range svg {
	width: 100%;
	height: 10px;
	margin: auto auto;
	background: pink;
	border-radius: 5px;
}

#rect_01{
	width: 100%;
	height: 10px;
	fill: #C0C0C0;
}
#rect_02{
	height: 10px;
	fill: var(--orag-color);
}


#projetc-page {
	width: 98%;
	margin: 10px auto;
	margin-bottom: 6%;
}

#projetc-page  h3 {
	display: block;
	margin: 0 0 5% 5%;
	width: 90%;
	font: 200 2.1rem/1.4 'Poppins', Sans-serif;
	color: var(--dark-color);
	text-decoration: underline;
}

#project-box {
	display: grid;
	grid-template-columns: repeat(4,1fr);
	width: 90%;
	margin: auto auto;
}

.project-item {
	display: block;
	width: 100%;
	margin: 1% auto;
	/* border: 1px solid var(--orag-color); */
}

.project-img {
	display: block;
	width: 100%;
	height: 370px;
	transform: scale(0.9);
	border-radius: 10px;
	box-shadow: 2px 2px 5px #919191;
}

.project-img:hover {
	transform: scale(1.0);
	border: 1px solid var(--orag-color);
	z-index: 99;
	border-radius: 0;
}

.project-title {
	display: block;
	width: 100%;
	text-align: center;
	font: 200 1.1rem/1.4 'Poppins', Sans-serif;
	color: var(--dark-color);
}

#project-github-link {
	display: block;
	margin: 2% 0;
	width: 100%;
	text-align: center;
	font: 200 1.2rem/1.4 'Poppins', Sans-serif;
	color: var(--orag-color);
}

#footer-page {
	display: grid;
	grid-template-columns: 40% 60%;
	width: 100%;
	border-top: 1px solid #c3c3c3;
	padding-top: 5%;
	/* background: red; */
}
#footer-about-me {
	width: 100%;
	/* background: yellow; */
}

#footer-about-me h4{
	display: block;
	width: 96%;
	margin: 5% 0 1% 4%;
	font: 200 1.6rem/1.4 'Poppins', Sans-serif;
	color: var(--dark-color);
}

#about-me-text {
	display: block;
	width: 90%;
	text-align: justify;
	padding: 2%;
	margin: 1% 0 2% 4%;
	font: 200 .9rem/1.4 'Poppins', Sans-serif;
	color: var(--dark-color);
	text-indent: 5%;
}

#contact-me {
	width: 100%;
	text-align: center;
}

#contact-me-apps{
	display: grid;
	width: 20%;
	float: right;
	grid-template-columns: repeat(3,1fr);
}

.contact-links-icons {
	width: 70%;
	display: block;
	margin: auto auto;
}

#contact-me-label{
	display: block;
	width: 96%;
	margin: 5% 0 1% 0;
	font: 200 1.1rem/1.4 'Poppins', Sans-serif;
	color: var(--dark-color);
}

#email,#messg {
	display: block;
	width: 40%;
	padding: 2px 0px 2px 6px;
	border: 1px solid var(--orag-color);
	outline: none;
	font: 200 .9rem/1.4 'Poppins', Sans-serif;
	margin: 2% auto 2% auto;
}

#messg{height: 100px;}

button {
	display: block;
	width: 17%;
	padding: .5% 1%;
	border-radius: 5px;
	background-color: var(--orag-color);
	text-align: center;
	color: var(--ligh-color);
	font: 200 .9rem/1.4 'Poppins', Sans-serif;
	margin: auto auto;
}

#copy-right{
	display: block;
	width: 100%;
	padding: 1% 0;
	text-align: center;
	color: var(--dark-color);
	font: 200 .9rem/1.4 'Poppins', Sans-serif;
}