@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


:root {
	--dark-color: #2d383c; 
	--ligh-color: #f4f4f4;
	--dark-color: #2d383c;
	--ligh-color: #f4f4f4;
	--blue-color: #39ace7;
	--orag-color: #EF5B0C;	
}


html body {font-size: 17px;}

#head-menu {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	position: relative;
	padding: .5%;
	top: 0; left:0;
	width: 100%;
    background-color: var(--light-color);
	text-align: center;
}

.head-menu-link {
	display: block;
	font: 200 1.2rem/1 sans-serif;
	padding: 6% 3%;
	margin: 0;
	width: 100%;
	color: var(--ligh-color);
	background: var(--dark-color);
}

.head-menu-link:hover {
	text-decoration: underline;
	text-decoration-thickness: 3px;
	text-decoration-color: var(--orag-color);
	color: var(--blue-color);
}

#body-main {
	width: 99%;
	margin: 10% auto;
	display: grid;
	grid-template-columns: 65% 35%;
}

#body-main #left-box {
	width: 70%;
	margin-left: 15%;
}

#body-main #left-box #title-box {
	width: 100%;
}

#body-main #left-box #title-box .title {
	display: block;
	width: 100%;
	text-align: justify;
	font: 200 2.3rem/1.4 'Poppins', Sans-serif;
	color: var(--dark-color);
}

#body-main #left-box #description {
	display: block;
	width: 100%;
	margin: 2% 0;
	text-align: left;
	text-indent: 32px;
	font: 220 .9rem/1.4 Sans-serif;
	color: var(--dark-color);
}

#body-main #left-box #about-me-bnt {
	display: block;
	width: 25%;
	margin-top: 10%;
	padding: 1.5%;
	text-align: center;
	border-radius: 20px;
	font: 550 .9rem/1.2 Sans-serif;
	color: var(--ligh-color);
	background: var(--dark-color)
}

#body-main #left-box #about-me-bnt:hover {
	background-color: var(--orag-color);
}

#body-main #left-box #social-box {
	margin-top: 10%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 100%;
}

#body-main #left-box #social-box .social-link {
	width: 100%;
	text-align: center;
	font: 300 1.2rem/1.2 Sans-serif;
	color: var(--dark-color);
	
}

#body-main #left-box #social-box .social-link .social-images {
	width: 14%;
	vertical-align: middle;
	margin-right: 3%;
}

#body-main #left-box #social-box .social-link:hover {
	color: var(--orag-color);
}


#right-box {
	width: 100%;
	text-align: center;
}

#right-box #my-profile-image {
	display: block;
	margin: 5% auto;
	vertical-align: middle;
	width: 70%;
}


#my-name { color: var(--orag-color); font-weight: 500;}









