@media(min-width: 700px) and (max-width: 931px) {

    #head-menu {
        /*background: #cecece;*/
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding: 1% 0; margin: 3% 0 5% 0;
    }

    .menu-box {
        display: block; width: 50%;
        margin: auto auto;
    }.menu-box:hover .menu-text{color: var(--orag-color);}

    .menu-icon {
        display: block;
        margin: auto auto;
        width: min(33px,33%);
    }

    .menu-text {
        display: block; width: 100%;
        text-align: center;
        font: 250 .9rem/1.4 Sans-serif;
        padding-top: 5%;
        color: var(--dark-color);
    }

    #home-page,#skill-page,#project-page{
        width: min(730px,90%);
        margin: 10% auto;
    }

    h1,h2,h3,h4 {
        width: 100%;
        font: 300 1.6rem/1.2 Sans-serif;
        color: var(--dark-color);
        text-align: left; margin: 2% 0;
    }

    h1{font-size:  2.2rem;}

    #about-text,#skill-text,#project-text {
        font: 200 .9rem/1.4 Sans-serif;
        color: var(--dark-color);
        text-indent: 30px;
        text-align: justify;
        width: 100%; margin: 5% 0 10% 0;
    }

    #social-links-box {
        width: 60%; display: grid;
        grid-template-columns: repeat(6,1fr);
        margin: 5% auto 5% auto;
    }

    .social-links-icons { width: 45%;}

     #icons-credit {
        display: block;
        text-align: center;
        font: 200 .7rem/1.4 Sans-serif;
        color: var(--dark-color);
        width: 100%; margin-bottom: 15%;
     }

     #skill-grafic {
        display: block;
        width: 50%;
        margin: 5% auto;
        cursor: pointer;
     }
    
    #project-box {
        width: 100%;
        display: grid;
        grid-template-columns: 40% 60%;
    }

    #project-view-box {
        background-image: url('../res/ic_18.png');
        background-size:  100% 100%;
        width: 230px; height: 310px;
        margin: auto auto; 
    }

    #project-fake-screen{
        width: 87.2%; height: 81%;
        margin: 13% auto 3% 6%;
    }

    .project-item { display: block; width: 100%;}
    #project-text { width: 100%; text-align: center;}

    #projects-links-box{
        display: block;
        text-align: center;
        margin: 6% 0 10% 0;
    }
    .projects-links{
        font: 800 1rem/1.4 Sans-serif;
        padding: 3%;
        color: var(--orag-color);
    }

    #footer-page {
        margin-top: 10%; width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    .contact {
        width: 100%; display: block;
        margin: 2% 0;
        text-align: center; cursor: pointer;
        font: 200 .8rem/1.4 Sans-serif;
    }

    .contact-icon{ 
        width: min(28px,7%);display: block;
        margin: 2% auto;
        vertical-align: middle; 
    }

    #copy-right{
        display: block; width: 100%;
        padding: 1% 0; margin: 1% 0;
        text-align: center;
        color: var(--dark-color);
        font: 200 10px/1.4 Sans-serif;
    }

}