.emoji{font-size: 2rem;} 

.title{
	width: 100%; margin: 2% 0;
	font: 400 1.8rem/1.3 Sans-serif;
	color: var(--dark-color);
  	border-left: 4px solid orange;
  	padding-left: 2%;
}

#menu {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 100%; padding: 5% 0;
}

.menu-icon {
    display: block; width: 30px;
    margin: 6% auto; cursor: pointer;
}

.menu-text {
    display: block; cursor: pointer; width: 100%;
    text-align: center; color: var(--dark-color);
    font: 700 .9rem/1 Sans-serif;
}

#home,#about,#skill,#project {
	display: flex; flex-wrap: wrap;
	width: min(650px,90%); margin: 15% auto;
	border-bottom: 1px solid #cecece;
}

#home-text, #about-text, #skill-text  {
	display: block; width: 100%; margin: 3% 0;
	text-align: justify;
	font: 300 1.2rem/1.5 Sans-serif; text-indent: 50px;
	color: var(--dark-color);
}

#resume-link, #certificate-link, #github-link {
	display: block; width: 100%; margin: 7% 0;
	font: 500 1rem/1 Sans-serif;text-align: left;
	color: orange; text-decoration: underline;
}

#home-box-icon {
	display:grid;width: 30%;margin: 4% 0;
	grid-template-columns: repeat(4,1fr);	
	cursor:pointer;
}

.home-icon { width:70%; margin:2%;}

#about-img {
	display: block; width: 30%; margin: 1% auto 10% auto;
	border-radius: 100%;border: 1px solid #515151;
}

#skills-image { display: block; width: 70%; margin: 6% auto;}

.project-card {
	width: 49%; margin: 4% auto;
	padding: 2%;flex-grow: 1;
}

.project-describle {
	display: block; width: 100%;
	font: 400 1rem/1.5 Sans-serif;
}
.project-title {
	display: block; width: 100%; margin: 10% 0;
	font: 600 1rem/1 Sans-serif;
	text-align: left;color:orange;
}

.project-link {
	display: block; width: 100%; margin: 6% 0;
	font: 300 1.1rem/1 Sans-serif;
	background: #000;
	padding: 3%;
	color: var(--white-color); text-align: center;
}

#contact {
	display: block;position: relative; bottom: 0;
	margin: 30% auto 1% auto; width: min(700px, 90%);
}

#form-x {width: 100%; display: flex;margin: 10% 0; flex-wrap: wrap;}

#f-name, #l-name {
	display: block;width: 45%; 
	border: none;border-bottom: 1.5px solid #000;
	padding: 2% 0 2% 2%; margin: 4% 2.5%; outline: none;
	font: 400 1.1rem/1.1 Sans-serif; color: var(--dark-color)
}

#email {
	display: block; width: 100%; border: none;
	border-bottom: 1.5px solid #000;
	font: 400 1.1rem/1.1 Sans-serif; color: var(--dark-color);
	padding: 2% 0 2% 2%; margin: 5% 2.5%; outline: none;
}

#message {
	width: 95%; height: 80px; margin: 2% auto;
	padding: 2%;outline: none;
	text-align: left; font: 500 1.1rem/1.1 Sans-serif;
	border: 1px solid #818181; color: var(--dark-color);
}

#send-bnt {
	display: block; width: 20%; padding:3%;margin-left: 2.5%;
	border: 1px solid #000; background: #000;
	color: #fff; font: 600 .9rem/1 Sans-serif;
}

#copy{
	display: block; width: 100%;
	font: 400 .9rem/1 Sans-serif; color: var(--dark-color);
	text-align: center; margin: 15% 0 4% 0;
}